@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'Graphie';
    src: 
    url('fonts/GraphieRegular.otf') format('opentype'),
    url('fonts/GraphieSemiBold.otf') format('opentype'),
    url('fonts/GraphieBold.otf') format('opentype'),
    url('fonts/GraphieExtraBold.otf') format('opentype');
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}

.main {
    margin-top: 110px;
    position: relative;
}

.wrapper {

    max-width: 1440px;
    margin-inline: auto;

}

.schedule, .schedule-btn, .buttons {
    padding: 16px 24px;
}

/* ------------- header ------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1099;
}
.logo span {
    font-family: 'graphie';
    letter-spacing: 1.68px;
    /* font-weight: 600; */
}

.contact, .schedule {
    gap: 16px;
    height: auto;
    font-size: 16px;
    line-height: 1.875;
    color: #fff;
    font-family: 'open sans';
} 

/* ------------- hero ------------- */

.hero-section {
    background: linear-gradient(195deg, #1B1B1B 18.36%, #373737 100.46%);
    overflow: hidden;
}

.hero-content {
    z-index: 999;
}

.hero-title {
    font-family:  'Graphie';
    font-weight: 700;
    /* font-size: 53px; */
    line-height: 67px;
    letter-spacing: -2.2%;
    text-align: center;
}

.banner {
    height: auto;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.access-bg {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: -330px;
    width: 1180px;
    height: 810px; 
    
}

p {
    font-family: "Open Sans";
}

.form-control input {
    font-size: 1.125em;
}

.card {
    box-shadow: 0px 0px 0px 20px rgba(232, 232, 232, 0.2); 
    max-width: 460px;
    margin-right: 1.25rem;
}

.card-body {
    padding-top:0;   
}

.statement {
    padding-top: 1.5em;
    padding-bottom: 2.5em;

}

.statement h1, .statement p{
    text-align: center;
    font: 'Graphie';
}

.statement h1 {
    font-size: 1.625em;
    color: black;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

.statement p {
    font-size: 1em;
    color: #9e9e9e;
    font-weight: 600;
    letter-spacing: -0.022em;
}

/* ------------- demo ------------- */

.demo-section {
    background: url('../media/images/featured-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e4e4e4;
}
.demo-title h1{
    font-family: 'Graphie', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: normal;
}

.demo-title p{
    font-family: 'Graphie', sans-serif;
    font-weight: 600;
    letter-spacing: 0.059rem;
    font-size: 28px;
    line-height: normal;
}

.demo-left > div, .demo-right > div{
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.06);
}

.demo-mobile {
    display: none;
}

.demo_mid_mobile {
    display: none;
}

/* ------------- slider ------------- */

.slider-title h1{
    font-family: 'Graphie', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: normal;
}

.slider-title p{
    font-family: 'Graphie', sans-serif;
    font-weight: 600;
    letter-spacing: 0.059rem;
    font-size: 28px;
    line-height: normal;
}

/* .slider .slick-list {
    padding-right:35vw !important;
    padding-left:35vw !important;
} */


.slider-contents {
    position: relative;
    display: flex;
    z-index: 1;
    /* height: calc(36.111vw + 38px + 16px);    */
    
}

.slider:before, .slider:after {
    content: '';
    position: absolute; 
    width: 50%;
    top: 0;
    z-index: 5;
    height: 100%;
    background: linear-gradient(90deg, rgba(27,27,27,0) 0%, #1B1B1B 100%);
}

.slider:before {
    left: 0;
    transform: rotateY(180deg)
}

.slider:after {
    right: 0
}

.slider .slick-list {
    padding-right:30vw !important;
    padding-left:30vw !important;
    overflow: visible;
}

.slick-slide {
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    /* opacity: 0.5;  */
    position: relative;
    margin-top: 2.5vw;
    margin-bottom: 2vw; 
}

.slick-slide img {
    transition: all 0.4s ease-in-out;
    width: 25.8vw;
}

.slick-center {
    opacity: 1;
    transform: scale(1.1);
    width: 50vw;
}

.slick-center img {
    height: auto;
}

.item img {

    display: block;
    object-fit: cover;
    object-position: top center;
    margin: auto; 
    border-radius: 9px;
    
}

.ipad {
    width: 38vw; 
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.buttons {
    top: 10vw;
    left: 0;
    right: 0;
    max-width: 45vw;
    z-index: 10;
}

/* ------------- pricing ------------- */


.bg {
    background: transparent url('../media/images/pricing-bg.png') no-repeat;
    background-size: 100% 742px;
    background-position: top;
}




.pricing-title h1{
    font-family: 'Graphie', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: normal;
}


.pricing-title span{
    font-family: 'Graphie', sans-serif;
    font-weight: 600;
    letter-spacing: 0.059rem;
    font-size: 32px;
    line-height: normal;
}

.pricing-title p{
    font-family: 'Graphie', sans-serif;
    font-weight: 600;
    letter-spacing: 0.059rem;
    font-size: 34px;
    line-height: normal;
}

.pricing-type p {
    font-family: 'Graphie';
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 1.4px;
}
.silver {
   background: linear-gradient(90deg, #F5F5F5 0%, #C9C9C9 51.5%, #9C9C9C 100%);
   border: 1px solid;
   border: linear-gradient(95.11deg, #C1C1C1 -11.57%, #B3B3B3 125.46%);
}

.price-silver::before{
    content: '$99.99';
    color: red;
    text-decoration: line-through;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}

.price-silver::after{
    content: '/mo';
    color: gray;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}

.popular-price{
    margin: -32px -26px 0;
    height: 50px;
    text-align: center;
    font-family: 'Graphie';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
}

.price-platinum::before{
    content: '$149.99';
    color: red;
    text-decoration: line-through;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}

.price-platinum::after{
    content: '/mo';
    color: gray;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}

.platinum {
    background: linear-gradient(86.05deg, #8F96B0 2.68%, #EFF3F8 54.98%, #C3C7E0 102.3%);
    border: 1px solid;
    border: linear-gradient(95.83deg, #8F96B0 -39.41%, #EFF3F8 19.5%, #9DA4BB 72.79%);
}

.price-inclusions span {
    font-family: 'Open Sans', Arial;
    font-size: 15px;
}

/* ------------- cta ------------- */

.cta-title{
    font-family: 'Graphie', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    line-height: normal;
    color: white;

}


/* ------------- footer ------------- */

.foot-title h1 {
    font-family: 'Graphie', Arial;
    font-size: 46px;
    font-weight: 700;
}

.foot-title p {
    font-family: 'Graphie', Arial;
    font-size: 20px;
    letter-spacing: -0.10px;
    margin-top: 8px;
}

.credits {
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: white;
}

  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
/* ------------- media ------------- */
@media only screen and (max-width: 1510px) {
    .buttons {
        /* top: 10.5vw; */
        max-width: 38.5vw;
     
    }
}

@media only screen and (max-width: 1398px) {
    .demo-left, .demo-right {
        gap: 12px;
    }

    .demo-left div, .demo-right div {
        padding: 30px 20px
    }
    
    .demo>*:first-child {
        margin-right: -0.85%;
    }

    .demo>*:last-child {
        margin-right: -0.35%;
    }

    .buttons {
        /* top: 10.5vw; */
        max-width: 39vw;
     
    }


}

@media only screen and (max-width: 1287px) {
    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
       
    }

    .footer-wrapper {
        padding-left: 0;
        padding-right: 0;
    } 
}

@media only screen and (max-width: 1199px) {
    .header-wrapper {
        padding: 24px;
    }
    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }
    .demo-left, .demo-right {
        gap: 12px;
    }

    .demo-left div, .demo-right div {
        padding: 30px 20px
    }
    
    .demo>*:first-child {
        margin-right: -0.85%;
    }

    .demo>*:last-child {
        margin-right: -0.35%;
    }

    .schedule-btn button {
        margin-top: 0;
    }
    
    .awards {
        padding-top: 40px;
        padding-right: 40px;
    }

    .awards img {
        max-width: 170px;
    }

    .slider-contents {
        margin-top: 50px;
    }

    .buttons {
        top: 9vw;
        max-width: 50vw;
    }

    .pricing-list {
        gap: 14px
    }

    .pricing-title {
        margin-inline: -20px;
        max-width: none;
    }
    .pricing-title h1 {
        font-size: 48px;
    }
    .cta-title {
        left: 3%;
        font-size: 48px;
    }
    .cta-img img {
        margin-left: 95px;
        width: 64vw
    }
    .consultation-form {
        width: 360px;
        margin-right: 28px;
    }

    .footer-section {
        padding-left: 32px;
        padding-right: 32px;
    }
    .footer-wrapper {
        padding-left: 0;
        padding-right: 0;
    }   
}

@media only screen and (max-width: 991px) {
    .header-wrapper {
        padding: 24px;
    }

    .card {
        max-width: 306px;
    }

    .card-2 {
        width: 60%;
    }
  
    .access-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
    }

    .demo-web {
        display: none;
    }
    .demo-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .demo-img {
        width: 104%;
        flex-shrink: 0;
    }
    
    .demo-title p {

        font-size: 28px;
    }
   
    .demo-left div, .demo-right div {
        min-height: 143px;
    }

    .awards {
        
        padding-top: 20px;
        padding-right: 20px;
       
    }

    .slider-section {
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .buttons {
        top: 8vw;
        max-width: 52vw;
    }

    .pricing-title h1 {
        font-size: 38px;
    }

    .cta-title {
        left: 3%;
        top: 8%;
        font-size: 48px;
    }

    .cta-img img {
        margin-left: 150px;
        margin-top: 25px;
        width: 55vw
    }

    .consultation-form {
        width: 300px;
        margin-top: 36px;
        margin-right: 28px;
    }
  
}


@media only screen and (max-width: 768px) {

    .access-bg {
       
        width: 1102px;
        height: 754px;
        top: -29px;
        left: -345px;
      
    }
    .header-wrapper {
        padding: 16px 24px;
    }

    .contact svg {
        padding: 0;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    .logo {
        width: 100%;
        max-width: 187px;
    }

    .logo span {
        font-size: 10px;
        letter-spacing: 0.8px;
    }

    .contact span {
        display: none;
    }

    .contact {
        padding: 0;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
    }

    .navbar-end .schedule {
        padding: 8px 16px;
        font-size: 12px;
        flex-shrink: 0;
    }

    .wrapper {
        padding-left: 24px;
        padding-right: 24px;
        margin: 0;
    }

    .hero-content{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .card {
        margin-top: 20px;
        max-width: 384px;
        margin-right: 0;
    }

    .card-2 {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .hero-texts {
        display: inline-flex;
        vertical-align: middle;
        margin-top: 24px;
        flex-direction: column;
        align-items: center;
    }

    .card-2 img {
        margin-top: 24px;
    }

    .demo-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .demo-title h1 {
        font-size: 38px;
    }

    .demo-title p {
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        
    }

    .demo_mid_img {
        display: none;
    }

    .demo_mid_mobile {
        display: block;
    }


    .demo-left-right {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        justify-content: center;
        align-items: center;
        
    }
    
    .demo-left, .demo-right {
        gap: 30px;
        min-width: 100%;
    }

    .demo-left div, .demo-right div {
        
        padding: 30px;
        min-height: 0;
    }
    
    .awards {
        position: relative;
        padding: 0;
        margin-top: 15px;
    }

    .awards img {
        max-width: 210px;
        margin-right: auto;
    }

    .slider-title {
        padding-inline: 24px;
        text-wrap: balance;
    }
    .slider-title h1 {
        font-size: 40px;
    }

    .slider-title p {
        font-size: 20px;
        margin-top: 15px;
    }

    .slider .slick-list {
        padding-right:20vw !important;
        padding-left:20vw !important;
        overflow: visible;
    }

     .slick-slide {
        margin-top: 4.5vw;
    }
    
    .slick-slide img {
        width: 47.5vw;
        /* max-width: 47.5vw; */
    } 
    
    .slider:before, .slider:after {
        width: 25vw;
        height: 100%;
    }
   
    .ipad {
        width: 70vw; 
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    
    .buttons {
        top: 55vw;
        left: 0;
        right: 0;
        max-width: 35vw;
        z-index: 10;
    }
    
    .slider-button-sched {
        margin-top: 180px;
    }

    .pricing-section .wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .pricing-title span {
        font-size: 16px;
    }

    .pricing-title h1 {
        font-size: 40px;
        margin-top: 10px;
    }
 
    .pricing-title p {
        font-size: 20px;
        margin-top: 10px;
    }

    .pricing-list {
        margin-top: 55px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 56px;
    }

    .pricing-1 {
        margin-top: 0;
    }

    .popular {
        order: -1;
    }
    .cta-wrapper {
        flex-direction: column;
        padding: 40px 24px;
    }

    .cta-title {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 40px;
        top: 0;
        left: 0;
        bottom: 0;
    }


    .cta-img {
        margin: 0;
    }

    .cta-img img {
        margin-left: 0;
        width: 100%;
    }

    .consultation-form {
        width: 100%;
        margin-right: 0;
    }

    .footer-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .foot-title h1{
        font-size: 38px;
        padding: 0 60px;
        line-height: normal;
    }

    .foot-title p {
        font-size: 20px;
        letter-spacing: 0.059rem;
    }

    .footer {
        flex-direction: column;
    }

    .footer aside {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .footer aside p {
        width: 100%;
        text-align: center;
    }
    nav {
        order: -1;
    }

    .footer-logo {
        left: -130px;
        bottom: -20px;
        width: 661px;
        height: 452px;
        
    }    
}

@media only screen and (max-width: 416px) {
    .schedule {
        display:none
    }
}



